body, ul , li  {
  list-style: none;
  background-color: #eee;
  font-weight: 700;
  text-shadow: 1px 1px 2px white;
  font-family: sans-serif;
}
.todo-app {
  margin: 2rem auto 0 auto;
  max-width: 500px;
}
.normalize {
  display: grid;
  grid-template-columns: 8fr 4fr;
  column-gap: 3px;
  
}
